section.sec-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0.5em;
    gap: 0.5em;
    .card{
    position: relative;
    }   
    img{
        width: 100%;
        min-height: 166px;
        object-fit: cover;
        border-radius: 6px;
    }
    .card-img{
        width: 100%;
    }
    .card-details{
        display: grid;
        gap: 0.5em;
    }
    .card-status{  
        font-size: 10.24px;
        line-height: 110%;
        position: absolute;
        top: 2%;
        left: 2%;
        text-align: center;
        background: #FFFFFF;
        border-radius: 2px;
        padding: 0.2em .5em;
    }
    p{
        font-weight: 300;
        font-size: 12px;
        line-height: 110%;
    }
    .rating > span{
        opacity: 0.5;
    }
    .rating i{
        color: #FE395C;
    }
    .title{
     text-overflow: ellipsis;
}
   
}