.nav{

    .logo{
        // height: toRem(40);
        height: 8vmin;
        display: flex;
        padding:toRem(20) toRem(36) ;
        box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    }
}
